@tailwind base;

/* Base styles */
@font-face {
  font-family: "Geogrotesque";
  font-weight: 400;
  src: url("../public/fonts/Geogtq-Md.otf");
}

@font-face {
  font-family: "Sensation Regular";
  font-weight: 400;
  src: url("../public/fonts/sansation_regular.ttf");
}

@font-face {
  font-family: "Sensation Bold";
  font-weight: 400;
  src: url("../public/fonts/sansation_bold.ttf");
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Custom utilities */
html,
body {
  @apply font-body;
  @apply text-white;
  @apply bg-black;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

*:focus {
  @apply outline-none;
}

.inputField {
  @apply rounded-md p-4 w-full;
}

.inputContainer {
  @apply mb-2 w-full relative;
}

.error::before {
  @apply absolute bg-yellow w-8 h-8 text-center text-lightGrey rounded-full transform -translate-y-1/2 top-1/2 -left-10;
  font-size: 1.5rem;
  content: "!";
  line-height: 2rem;
}

.error-right::before {
  @apply absolute bg-yellow w-8 h-8 text-center text-lightGrey rounded-full transform -translate-y-1/2 top-1/2 -right-10;
  font-size: 1.5rem;
  content: "!";
  line-height: 2rem;
}

@media (max-width: 1024px) {
  .error::before,
  .error-right::before {
    right: 0;
    left: initial;
  }
}

select option:disabled {
  @apply text-lightGrey opacity-75;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: white;
  opacity: 0.75;
}

input,
select,
textarea {
  @apply font-body text-white;
  font-size: 100%;
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
