@tailwind base;

/* Base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */
html {
  scroll-behavior: smooth;
}

*:focus {
  @apply outline-none;
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Custom utilities */
